<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to "Sign Out", signout_path, method: :delete %>
    <a href='/users/<%= current_user.id%>'>Profile</a>
  <%else%> 
    <a href='/signup'>Sign Up</a>
    <a href='/signin'>Log In</a>
  <%end%>

<%= yield %>

</body>
</html>
